<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
    <title>All users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<header th:replace="layout::site-header"/>

<div class="container mt-5">

    <table class="table table-striped">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">First Visit Time</th>
            <th scope="col">Last Visit Time</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        <tr th:each="u : ${users}">
            <th scope="col" th:text="${u.id}"></th>
            <th scope="col" th:text="${u.username}"></th>
            <th scope="col" th:text="${u.email}"></th>
            <th scope="col" th:text="${u.roles}"></th>
            <th scope="col" th:text="${u.active == true ? 'Active' : 'Banned'}"></th>
            <th scope="col" th:text="${u.firstVisit}"></th>
            <th scope="col" th:text="${u.lastVisit}"></th>
            <th scope="col"><a href="/user/edit/" th:href="@{/user/edit/{id}(id=${u.id})}">Edit</a></th>
            <th scope="col"><a href="/user/delete/" th:href="@{/user/delete/{id}(id=${u.id})}">Delete</a></th>
        </tr>
    </table>

</div>

</body>

</html>